
  text,p {
	font-family: Objectivity, sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
  }
  use, .t,g {
	transform-origin: center;
	transform-box: fill-box;
  }
  .lighted {
	filter: url(#HighRelief);
  }
  /* image {
	width: 100%;
	height: 100%;
  } */
  html, body {
	height: 100%;
  }
  body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden !important;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }
  svg {
	overflow: hidden !important;
  }
  filter {
	color-interpolation-filters: sRGB;
  }
  :root {
	--blue: hsl(195.6deg, 100%, 50%);
	--blue2: hsl(225.6deg, 100%, 50%);
	--gold: hsl(45.6deg, 100%, 50%);
	--gold2: hsl(15.6deg, 100%, 50%);
  }